spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://mysqldb:3306/the-bookshelf
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
  thymeleaf:
    cache: true

  security:
    user:
      name: root
      password: root
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 2MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: hieutt.tnvn@gmail.com
    password: buutjomnfnffcmgz
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp

server:
  tomcat:
    max-swallow-size: -1
  servlet:
    session:
      persistent: false
  error:
    whitelabel:
      enabled: false
    path: /error
