<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Basic -->

<head th:replace="~{customer-fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{customer-fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Header -->
<header th:replace="~{customer-fragments :: main-header}"></header>
<!-- End Main Header -->

<!-- Start Top Search -->
<div th:replace="~{customer-fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{customer-fragments :: slider}"></div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody th:if="${session.cart.cartItemList != null}" th:each="cartItem : ${session.cart.cartItemList}">
                        <tr>
                            <td class="thumbnail-img">
                                <a th:href="@{/book-detail/{id}(id = ${cartItem.book.id})}">
                                    <img class="img-fluid" th:src="${cartItem.book.image != null} ? 'data:image/jpeg;base64,' + ${cartItem.book.image}
                                    : 'https://islandpress.org/sites/default/files/default_book_cover_2015.jpg'" alt=""/>
                                </a>
                            </td>
                            <td class="name-pr">
                                <a th:href="@{/book-detail/{id}(id = ${cartItem.book.id})}" th:text="${cartItem.book.title}"></a>
                            </td>
                            <td class="price-pr">
                                <p th:text="'đ ' + ${cartItem.book.price}"></p>
                            </td>
                            <form th:action="@{/customer/update-cart}" method="post">
                                <input type = "hidden" name = "id" th:value = "${cartItem.id}" >
                                <td class="quantity-box"><input type="number" size="4" th:value="${cartItem.quantity}"
                                                                name="quantity" th:min="1" step="1"
                                                                class="c-input-text qty text"></td>
                                <td class="total-pr">
                                    <p th:text="'đ ' + ${cartItem.totalPrice}"></p>
                                </td>
                                <td>
                                    <button type="submit" name="action" value="update" title="Update"
                                            class="btn btn-primary">
                                        Update
                                    </button>
                                    <button type="submit" name="action" value="delete" title="Update"
                                            class="btn btn-danger">
                                        Delete
                                    </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                    <span th:if="${session.cart.cartItemList == null}">You haven't added any book into your shopping cart 🛒</span>
                </div>
            </div>
        </div>

<!--        <div class="row my-5">-->
<!--            <div class="col-lg-6 col-sm-6">-->
<!--                <div class="coupon-box">-->
<!--                    <div class="input-group input-group-sm">-->
<!--                        <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code"-->
<!--                               type="text">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-theme" type="button">Apply Coupon</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold" th:text="'đ ' + ${session.cart.totalPrice}"></div>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold" th:text="${session.cart.totalPrice >= 1000000} ? 'Free'
                        : 'đ 30000'"></div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5" th:if="${session.cart.totalPrice >= 1000000}"
                             th:text="đ + ${session.cart.totalPrice}"></div>
                        <div class="ml-auto h5" th:if="${session.cart.totalPrice < 1000000}"
                             th:text="'đ ' + ${session.cart.totalPrice + 30000}"></div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a href="checkout.html" class="ml-auto btn hvr-hover">Checkout</a>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="~{customer-fragments :: feed}"></div>
<!-- End Feed  -->

<!-- Start Footer -->
<footer th:replace="~{customer-fragments :: footer}"></footer>
<!-- End Footer -->

<!-- Scripts -->
<th:block th:replace="~{customer-fragments :: scripts}"></th:block>
</body>

</html>