<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Basic -->

<head th:replace="~{customer-fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{customer-fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Header -->
<header th:replace="~{customer-fragments :: main-header}"></header>
<!-- End Main Header -->

<!-- Start Top Search -->
<div th:replace="~{customer-fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{customer-fragments :: slider}"></div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address" th:with="user=${#authentication.getPrincipal()}">
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                    <div class="mb-3">
                        <h4>Email *</h4>
                        <div class="input-group">
                            <h5 th:text="${user.getEmail()}"></h5>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h4>Phone number *</h4>
                        <h5 th:text="${user.getPhoneNumber()}"></h5>
                    </div>
                    <div class="mb-3">
                        <h4>Address *</h4>
                        <h5 th:text="${user.getAddress()}"></h5>
                    </div>

                    <hr class="mb-4">
                    <div class="title"><span>Payment Methods</span></div>
                    <form id="order-form" th:action="@{/customer/place-order}" method="post">
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required value="Bank card">
                                <label class="custom-control-label" for="credit">Bank card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required checked value="Cash">
                                <label class="custom-control-label" for="debit">Cash</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder=""> <small
                                    class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="">
                                <div class="invalid-feedback"> Credit card number is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="">
                                <div class="invalid-feedback"> Security code required</div>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="col-md-12 col-lg-12">
                    <div class="odr-box">
                        <div class="title-left">
                            <h3>Shopping cart</h3>
                        </div>
                        <div class="rounded p-2 bg-light">
                            <div class="media mb-2 border-bottom"
                                 th:each="cartItem : ${session.cart.getCartItemList()}">
                                <div class="media-body"><a th:href="@{/shop/detail/{id}(id = ${cartItem.book.id})}"
                                                           th:text="${cartItem.book.getTitle()}">s</a>
                                    <div class="small text-muted">
                                        <span class="mx-2" th:text="${'Price: đ ' + cartItem.book.getPrice()}"></span>
                                        <span class="mx-2">|</span>
                                        <span class="mx-2" th:text="${'Qty: ' + cartItem.getQuantity()}"></span>
                                        <span class="mx-2">|</span>
                                        <span class="mx-2"
                                              th:text="${'Subtotal: đ ' + cartItem.getTotalPrice()}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="order-box">
                        <div class="title-left">
                            <h2><b>Your order</b></h2>
                        </div>
                        <div class="d-flex">
                            <div class="font-weight-bold">Product</div>
                            <div class="ml-auto font-weight-bold">Total</div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold" th:text="'đ ' + ${session.cart.totalPrice}"></div>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold" th:text="${session.cart.totalPrice >= 1000000} ? 'Free'
                        : 'đ 30000'"></div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5" th:if="${session.cart.totalPrice >= 1000000}"
                                 th:text="đ + ${session.cart.totalPrice}"></div>
                            <div class="ml-auto h5" th:if="${session.cart.totalPrice < 1000000}"
                                 th:text="'đ ' + ${session.cart.totalPrice + 30000}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box">
                    <button type="submit" form="order-form" class="ml-auto btn hvr-hover">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="~{customer-fragments :: feed}"></div>
<!-- End Feed  -->

<!-- Start Footer -->
<footer th:replace="~{customer-fragments :: footer}"></footer>
<!-- End Footer -->

<!-- Scripts -->
<th:block th:replace="~{customer-fragments :: scripts}"></th:block>
</body>

</html>