<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Basic -->

<head th:replace="~{customer-fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{customer-fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Header -->
<header th:replace="~{customer-fragments :: main-header}"></header>
<!-- End Main Header -->

<!-- Start Top Search -->
<div th:replace="~{customer-fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{customer-fragments :: slider}"></div>
<!-- End All Title Box -->

<!-- Start My Account  -->
<div class="container">
    <div th:if="${type == 'success'}" class="alert alert-success text-center">
        <p th:text="${detail}" class="text-center"></p>
    </div>
    <div th:if="${type == 'error'}" class="alert alert-danger text-center">
        <p th:text="${detail}" class="text-center"></p>
    </div>
    <div th:if="${type == 'addInfo'}" class="alert alert-danger text-center">
        <p th:text="${detail}" class="text-center"></p>
    </div>
    <div class="row my-2">
        <!--        <div class="col-lg-4 order-lg-1 text-center">-->
        <!--            &lt;!&ndash; if user has an avatar &ndash;&gt;-->
        <!--            <img th:if="${user.getImage() != null}"-->
        <!--                 th:src="'data:image/jpeg;base64,' + ${user.getImage()}" width="200px" height="200px"-->
        <!--                 class="mx-auto img-fluid img-circle d-block" alt="Profile picture">-->
        <!--            &lt;!&ndash; if user has no avatar &ndash;&gt;-->
        <!--            <img th:if="${user.getImage() == null}" th:src="@{/img/profile.jpg}" width="200px" height="200px"-->
        <!--                 class="mx-auto img-fluid img-circle d-block" alt="Profile picture">-->
        <!--        </div>-->
        <!--        <div class="col-lg-8 order-lg-2">-->
        <!--            <div class="tab-content py-4">-->
        <!--                <div class="tab-pane active" id="profile">-->
        <!--                    <h1><b>Your Profile</b></h1>-->
        <!--                    <h2 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h2>-->
        <!--                    <h4 th:text="'Email: ' + ${user.getEmail()}"></h4>-->
        <!--                    <h4 th:text="'Phone: ' + ${user.getPhoneNumber()}"></h4>-->
        <!--                    <h4 th:text="'Address: ' + ${user.getAddress()}"></h4>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- User Info form -->
        <form class="form container-lg col" th:action="@{/customer/update-info}" method="post" th:object="${user}"
              enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="id" name="id" th:field="*{id}">
            <div class="form-row">
                <div class="form-group mb-2 col-md-5">
                    <label for="firstName" class="col-form-label">Firstname</label>
                    <input type="text"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           th:field="*{firstName}"
                           placeholder="Firstname"
                    >
                    <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                </div>
                <div class="form-group mb-2 col">
                    <label for="lastName" class="col-form-label">Lastname</label>
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           th:field="*{lastName}"
                           placeholder="Lastname"
                    >
                    <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="email" class="col-form-label">Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       name="email"
                       th:field="*{email}"
                       placeholder="Email"
                >
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            </div>
            <div class="form-group mb-2">
                <label for="address" class="col-form-label">Address</label>
                <input type="text"
                       class="form-control"
                       id="address"
                       name="address"
                       th:field="*{address}"
                       placeholder="Address"
                >
            </div>
            <div class="form-group mb-2">
                <label for="phoneNumber" class="col-form-label">Phone Number</label>
                <input type="text"
                       class="form-control"
                       id="phoneNumber"
                       name="phoneNumber"
                       th:field="*{phoneNumber}"
                       placeholder="Phone Number"
                >
            </div>
            <div class="form-row">
                <div class="form-group mb-2 col-7">
                    <!-- if user has avatar -->
                    <img th:if="${user.getImage() != null}"
                         th:src="'data:image/jpeg;base64,' + ${user.getImage()}" width="200px" height="200px"
                         alt="user-image" style="border-radius: 50%">
                    <!-- if user has no avatar -->
                    <img th:if="${user.getImage() == null}" th:src="@{/img/undraw_profile.svg}" width="200px" height="200px"
                         alt="user-image">
                </div>
                <div class="form-group mb-2 col">
                    <label for="user-image" class="col-form-label">Avatar</label>
                    <input type="file"
                           class="form-control-file"
                           id="user-image"
                           name="user-image"
                    >
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-2 float-right">Save</button>
        </form>

        <!-- Password form -->
        <form class="form container-lg col" th:action="@{/customer/update-password}" method="post" th:object="${password}">
            <input type="hidden" th:value="${user.id}" name="id" class="form-control">
            <div class="form-group mb-2">
                <label for="oldPassword" class="col-form-label">Current Password</label>
                <input type="text"
                       class="form-control"
                       id="oldPassword"
                       name="oldPassword"
                       th:field="*{oldPassword}"
                       placeholder="Current Password"
                >
                <p class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">
            </div>
            <div class="form-group mb-2">
                <label for="newPassword" class="col-form-label">New Password</label>
                <input type="text"
                       class="form-control"
                       id="newPassword"
                       name="newPassword"
                       th:field="*{newPassword}"
                       placeholder="New Password"
                >
                <p class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
            </div>
            <div class="form-group mb-2">
                <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                <input type="text"
                       class="form-control"
                       id="confirmPassword"
                       name="confirmPassword"
                       th:field="*{confirmPassword}"
                       placeholder="Confirm Password"
                >
                <p class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
            </div>

            <button type="submit" class="btn btn-primary mb-2 float-right">Change password</button>
        </form>
    </div>
</div>
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Orders</h4>
                                <p>Track, return, or buy things again</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"><i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; security</h4>
                                <p>Edit login, name, and mobile number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Addresses</h4>
                                <p>Edit addresses for orders and gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End My Account -->

<!-- Start Feed  -->
<div th:replace="~{customer-fragments :: feed}"></div>
<!-- End Feed  -->

<!-- Start Footer -->
<footer th:replace="~{customer-fragments :: footer}"></footer>
<!-- End Footer -->

<!-- Scripts -->
<th:block th:replace="~{customer-fragments :: scripts}"></th:block>
</body>

</html>