<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Basic -->

<head th:replace="~{customer-fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{customer-fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Header -->
<header th:replace="~{customer-fragments :: main-header}"></header>
<!-- End Main Header -->

<!-- Start Top Search -->
<div th:replace="~{customer-fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{customer-fragments :: slider}"></div>
<!-- End All Title Box -->

<!-- Start My Account  -->
<div class="container">
    <div class="row my-2" th:with="user=${#authentication.getPrincipal()}">
        <div class="col-lg-4 order-lg-1 text-center">
            <!-- if user has an avatar -->
            <img th:if="${user.getImage() != null}"
                 th:src="'data:image/jpeg;base64,' + ${user.getImage()}" width="200px" height="200px"
                 class="mx-auto img-fluid img-circle d-block" alt="Profile picture">
            <!-- if user has no avatar -->
            <img th:if="${user.getImage() == null}" th:src="@{/img/profile.jpg}" width="200px" height="200px"
                 class="mx-auto img-fluid img-circle d-block" alt="Profile picture">
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h1><b>Your Profile</b></h1>
                    <h2 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h2>
                    <h4 th:text="'Email: ' + ${user.getEmail()}"></h4>
                    <h4 th:text="'Phone: ' + ${user.getPhoneNumber()}"></h4>
                    <h4 th:text="'Address: ' + ${user.getAddress()}"></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-account-box-main">
    <div class="container">
        <div class="my-account-page">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-gift"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Orders</h4>
                                <p>Track, return, or buy things again</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"><i class="fa fa-lock"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Login &amp; security</h4>
                                <p>Edit login, name, and mobile number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="account-box">
                        <div class="service-box">
                            <div class="service-icon">
                                <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                            </div>
                            <div class="service-desc">
                                <h4>Your Addresses</h4>
                                <p>Edit addresses for orders and gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End My Account -->

<!-- Start Feed  -->
<div th:replace="~{customer-fragments :: feed}"></div>
<!-- End Feed  -->

<!-- Start Footer -->
<footer th:replace="~{customer-fragments :: footer}"></footer>
<!-- End Footer -->

<!-- Scripts -->
<th:block th:replace="~{customer-fragments :: scripts}"></th:block>
</body>

</html>