<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Basic -->

<head th:replace="~{customer-fragments :: head}"></head>

<body>
<!-- Start Main Top -->
<div th:replace="~{customer-fragments :: main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Header -->
<header th:replace="~{customer-fragments :: main-header}"></header>
<!-- End Main Header -->

<!-- Start Top Search -->
<div th:replace="~{customer-fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{customer-fragments :: slider}"></div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${success}" class="text-center alert-success alert">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${canceled}" class="text-center alert-success alert">
                    <p th:text="${canceled}"></p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="order-date">Order Date</th>
                            <th>Delivery Date</th>
                            <th class="price-pr">Order Status</th>

                            <th class="quantity-box">Quantity</th>
                            <th>Total Price</th>
                            <th class="total-pr">Payment Method</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="order-date">
                                <span th:text="${#temporals.format(order.createdAt, 'dd-MM-yyyy HH:mm')}"></span>
                            </td>
                            <td class="name-pr">
                                <a th:if="${order.accepted == true}" href="#">
                                    <p>Accepted</p>
                                </a>
                                <a th:if="${order.accepted == false}">
                                    <p>Pending</p>
                                </a>
                            </td>
                            <td class="price-pr">
                                <p th:text="${order.orderStatus}"></p>
                            </td>
                            <td class="quantity-box" th:text="${order.quantity}"></td>
                            <td class="total-pr">
                                <p style="color: red" th:text="${order.totalPrice}"></p>
                            </td>
                            <td class="total-pr" style="color: black">
                                <span th:text="${order.paymentMethod}"></span>
                            </td>
                            <td>
                                <a th:href="@{/customer/cancel-order/{id}(id = ${order.id})}" class="button-cancel">Cancel</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="~{customer-fragments :: feed}"></div>
<!-- End Feed  -->

<!-- Start Footer -->
<footer th:replace="~{customer-fragments :: footer}"></footer>
<!-- End Footer -->

<!-- Scripts -->
<th:block th:replace="~{customer-fragments :: scripts}"></th:block>
</body>

</html>